*.lo
*.la
*.o
*.swp
*.log
.dirstamp
.libs/
.deps/
*.dSYM/
Makefile
build*/

analyzeDataProperty
analyzeDataProperty_online
compareDataSets
compareDataSets_online
generateGNUPlot
generateReport
modifyZCConfig
runOfflineCase

