.svg text {
  fill: black;
  text-anchor: end;
}

.my-container {
    width: 400px;
    height: 300px;
}

.plot-container{
    width: 100%;
    height: 100%;
    padding: 0px;
    position:absolute;
}
